*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/meronmks/zimitta/Datas/OAuthVariable.java
*.apk
app/src/main/java/com/meronmks/zimitta/OAuth/OAuthVariable.java
