<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meronmks.zimitta"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- パーミッション定義 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- アプリの定義等 -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon">

        <!-- レシーバー定義 -->
        <receiver android:name=".Receiver.NetworkInfoReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".core.CoreActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TwitterOAuthActivity"
            android:label="@string/startOauth">
        </activity>
        <activity android:name=".Activity.TweetActivity"
                  android:label="@string/new_tweet_activity_label"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".AppCooperation.WebTwitterLoginActivity"
                  android:label="@string/web_login_text"/>
        <activity android:name=".AppCooperation.ApplicationsCooperationActivity"
                  android:label="@string/app_cooperation_text"/>
        <activity android:name=".Activity.ImageActivity" />
        <activity android:name=".Activity.TweetDetail"
                android:label="@string/tweet_detail_label_text"/>
        <activity android:name=".settings.SettingActivity"
                  android:label="@string/setting_activity_label_text"/>
        <activity android:name=".settings.About"
                  android:label="@string/about_label_text"/>
        <activity android:name=".user.Prof_Activity"
                  android:label="@string/prof_activity_label_text"/>
        <activity android:name=".Activity.MentionsActivity"
                  android:label="@string/mention_act_label_text"/>
        <activity android:name=".Activity.AccountChangeActivity"
                  android:label="@string/accountchangeactovity_label_text"/>
        <activity android:name=".Activity.DMSendActivity"
                  android:label="@string/dmsendactivity_labeltext"/>
        <activity android:name=".user.UserTimeLineActivity"/>
        <activity android:name=".user.UserFollowActivity"/>
        <activity android:name=".user.UserFollowersActivity"/>
        <activity android:name=".user.UserFavActivity"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d38b73f997b80b75ecb5016e01dfb9f8256ef33c" />
    </application>
</manifest>
